Flask
Flask-Login
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
flask-limiter
flask-login
flask-static-compress
flask-wtf
flask==3.0.1
googletrans==3.1.0a0
gunicorn
openai
requests
requests-oauthlib
stripe
werkzeug==3.0.1
wordpress-rest-api==4.7
google-generativeai==0.3.1
markdown==3.5.1